In [2]:
# Nutné importy ze standardní knihovny
import os
import pandas as pd
from urllib.request import urlretrieve

# Seznam souborů (viz níže)
zdroj = "https://raw.githubusercontent.com/janpipek/data-pro-pyladies/master/data/countries.csv"
jmeno = zdroj.rsplit("/")[-1]

if not os.path.exists(jmeno):
    print(f"Soubor {jmeno} ještě není stažen, jdeme na to...")
    urlretrieve(url=zdroj, filename=jmeno)
    print(f"Soubor {jmeno} úspěšně stažen.")
else:
    print(f"Soubor {jmeno} už byl stažen, použijeme místní kopii.")

Soubor countries.csv už byl stažen, použijeme místní kopii.

In [3]:
# Místo `set_index` vybereme index rovnou při načítání
countries = pd.read_csv("countries.csv", index_col="name")

countries = countries.sort_index()
countries

,iso,world_6region,world_4region,income_groups,is_eu,is_oecd,eu_accession,year,area,population,alcohol_adults,bmi_men,bmi_women,car_deaths_per_100000_people,calories_per_day,infant_mortality,life_expectancy,life_expectancy_female,life_expectancy_male,un_accession
name,,,,,,,,,,,,,,,,,,,,
Afghanistan,AFG,south_asia,asia,low_income,False,False,NaN,2018,652860.0,34500000.0,0.03,20.62,21.07,NaN,2090.0,66.3,58.69,65.812,63.101,1946-11-19
Albania,ALB,europe_central_asia,europe,upper_middle_income,False,False,NaN,2018,28750.0,3238000.0,7.29,26.45,25.66,5.978,3193.0,12.5,78.01,80.737,76.693,1955-12-14
Algeria,DZA,middle_east_north_africa,africa,upper_middle_income,False,False,NaN,2018,2381740.0,36980000.0,0.69,24.60,26.37,NaN,3296.0,21.9,77.86,77.784,75.279,1962-10-08
Andorra,AND,europe_central_asia,europe,high_income,False,False,NaN,2017,470.0,88910.0,10.17,27.63,26.43,NaN,NaN,2.1,82.55,NaN,NaN,1993-07-28
Angola,AGO,sub_saharan_africa,africa,upper_middle_income,False,False,NaN,2018,1246700.0,20710000.0,5.57,22.25,23.48,NaN,2473.0,96.0,65.19,64.939,59.213,1976-12-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,VEN,america,americas,upper_middle_income,False,False,NaN,2018,912050.0,30340000.0,7.60,27.45,28.13,7.332,2631.0,12.9,75.91,79.079,70.950,1945-11-15
Vietnam,VNM,east_asia_pacific,asia,lower_middle_income,False,False,NaN,2018,330967.0,90660000.0,3.91,20.92,21.07,NaN,2745.0,17.3,74.88,81.203,72.003,1977-09-20
Yemen,YEM,middle_east_north_africa,asia,lower_middle_income,False,False,NaN,2018,527970.0,26360000.0,0.20,24.44,26.11,NaN,2223.0,33.8,67.14,66.871,63.875,1947-09-30
Zambia,ZMB,sub_saharan_africa,africa,lower_middle_income,False,False,NaN,2018,752610.0,14310000.0,3.56,20.68,23.05,11.260,1930.0,43.3,59.45,65.362,59.845,1964-12-01
Zimbabwe,ZWE,sub_saharan_africa,africa,low_income,False,False,NaN,2018,390760.0,13330000.0,4.96,22.03,24.65,20.850,2110.0,46.6,60.18,63.944,60.120,1980-08-25

In [4]:
countries.loc["Germany"]

iso                                             DEU
world_6region                   europe_central_asia
world_4region                                europe
income_groups                           high_income
is_eu                                          True
is_oecd                                        True
eu_accession                             1952-07-23
year                                           2018
area                                       357380.0
population                               81800000.0
alcohol_adults                                12.14
bmi_men                                       27.17
bmi_women                                     25.74
car_deaths_per_100000_people                   3.28
calories_per_day                             3499.0
infant_mortality                                3.1
life_expectancy                               81.25
life_expectancy_female                       83.632
life_expectancy_male                          79.06
un_accession                             1973-09-18
Name: Germany, dtype: object

In [5]:
countries.dtypes

iso                              object
world_6region                    object
world_4region                    object
income_groups                    object
is_eu                              bool
is_oecd                            bool
eu_accession                     object
year                              int64
area                            float64
population                      float64
alcohol_adults                  float64
bmi_men                         float64
bmi_women                       float64
car_deaths_per_100000_people    float64
calories_per_day                float64
infant_mortality                float64
life_expectancy                 float64
life_expectancy_female          float64
life_expectancy_male            float64
un_accession                     object
dtype: object

In [7]:
# hodit do datetime:
pd.to_datetime(countries["un_accession"])

name
Afghanistan   1946-11-19
Albania       1955-12-14
Algeria       1962-10-08
Andorra       1993-07-28
Angola        1976-12-01
                 ...
Venezuela     1945-11-15
Vietnam       1977-09-20
Yemen         1947-09-30
Zambia        1964-12-01
Zimbabwe      1980-08-25
Name: un_accession, Length: 193, dtype: datetime64[ns]

In [8]:
# Pro převod mezi různými datovými typy slouží metoda astype, 
# která jako svůj argument akceptuje jméno dtype, na který chceme převést:

countries["income_groups"].astype("category")

name
Afghanistan             low_income
Albania        upper_middle_income
Algeria        upper_middle_income
Andorra                high_income
Angola         upper_middle_income
                      ...
Venezuela      upper_middle_income
Vietnam        lower_middle_income
Yemen          lower_middle_income
Zambia         lower_middle_income
Zimbabwe                low_income
Name: income_groups, Length: 193, dtype: category
Categories (4, object): ['high_income', 'low_income', 'lower_middle_income', 'upper_middle_income']

In [17]:
# Kde se hodně pije?
countries["alcohol_adults"] > 12     #porovnání

# ale chci vidět všechny True = Filtrování - pouze na logických hodnotách:
# chlastající země
countries[countries["alcohol_adults"] > 12]

,iso,world_6region,world_4region,income_groups,is_eu,is_oecd,eu_accession,year,area,population,alcohol_adults,bmi_men,bmi_women,car_deaths_per_100000_people,calories_per_day,infant_mortality,life_expectancy,life_expectancy_female,life_expectancy_male,un_accession
name,,,,,,,,,,,,,,,,,,,,
Armenia,ARM,europe_central_asia,europe,lower_middle_income,False,False,NaN,2018,29740.0,3118000.0,13.66,25.36,27.13,7.899,2928.0,12.6,75.97,77.952,71.589,1992-03-02
Austria,AUT,europe_central_asia,europe,high_income,True,True,1995-01-01,2018,83879.0,8441000.0,12.40,26.47,25.09,3.541,3768.0,2.9,81.84,84.249,79.585,1955-12-14
Azerbaijan,AZE,europe_central_asia,europe,upper_middle_income,False,False,NaN,2018,86600.0,9533000.0,13.34,25.65,27.51,5.279,3118.0,27.9,72.30,75.283,69.150,1992-03-02
Belarus,BLR,europe_central_asia,europe,upper_middle_income,False,False,NaN,2018,207600.0,9498000.0,18.85,26.16,26.64,8.454,3250.0,3.4,73.76,78.583,67.693,1945-10-24
Croatia,HRV,europe_central_asia,europe,high_income,True,False,2013-01-01,2018,56590.0,4379000.0,15.00,26.60,25.18,6.434,3059.0,3.6,77.66,81.167,74.701,1992-05-22
Czechia,CZE,europe_central_asia,europe,high_income,True,True,2004-05-01,2018,78870.0,10590000.0,16.47,27.91,26.51,5.720,3256.0,2.8,79.37,81.858,76.148,1993-01-19
Denmark,DNK,europe_central_asia,europe,high_income,True,True,1973-01-01,2018,42922.0,5611000.0,12.02,26.13,25.11,3.481,3367.0,2.9,81.10,82.878,79.130,1945-10-24
Estonia,EST,europe_central_asia,europe,high_income,True,True,2004-05-01,2018,45230.0,1339000.0,17.24,26.26,25.19,5.896,3253.0,2.3,77.66,82.111,73.201,1991-09-17
Finland,FIN,europe_central_asia,europe,high_income,True,True,1995-01-01,2018,338420.0,5419000.0,13.10,26.73,25.58,3.615,3368.0,1.9,82.06,84.423,78.934,1955-12-14
France,FRA,europe_central_asia,europe,high_income,True,True,1952-07-23,2018,549087.0,63780000.0,12.48,25.85,24.83,2.491,3482.0,3.5,82.62,85.747,79.991,1945-10-24
Germany,DEU,europe_central_asia,europe,high_income,True,True,1952-07-23,2018,357380.0,81800000.0,12.14,27.17,25.74,3.280,3499.0,3.1,81.25,83.632,79.060,1973-09-18
Hungary,HUN,europe_central_asia,europe,upper_middle_income,True,True,2004-05-01,2018,93030.0,9934000.0,16.12,27.12,25.98,5.234,3037.0,5.3,75.90,79.557,72.610,1955-12-14
Ireland,IRL,europe_central_asia,europe,high_income,True,True,1973-01-01,2018,70280.0,4631000.0,14.92,27.65,26.62,3.768,3600.0,3.0,81.49,83.737,79.885,1955-12-14
Latvia,LVA,europe_central_asia,europe,high_income,True,True,2004-05-01,2018,64490.0,2226000.0,13.45,26.46,25.62,8.275,3174.0,6.9,75.13,79.498,69.882,1991-09-17
Lithuania,LTU,europe_central_asia,europe,high_income,True,True,2004-05-01,2018,65286.0,3278000.0,16.30,26.86,26.01,8.090,3417.0,3.3,75.31,80.060,69.554,1991-09-17
Luxembourg,LUX,europe_central_asia,europe,high_income,True,True,1952-07-23,2018,2590.0,530000.0,12.84,27.43,26.09,5.971,3539.0,1.5,82.39,84.227,79.981,1945-10-24
Moldova,MDA,europe_central_asia,europe,lower_middle_income,False,False,NaN,2018,33850.0,3496000.0,23.01,24.24,27.06,5.529,2714.0,13.6,72.41,76.090,67.544,1992-03-02
Namibia,NAM,sub_saharan_africa,africa,upper_middle_income,False,False,NaN,2018,824290.0,2404000.0,12.09,22.65,25.15,NaN,2171.0,32.8,65.69,68.086,62.196,1990-04-23
Nigeria,NGA,sub_saharan_africa,africa,lower_middle_income,False,False,NaN,2018,923770.0,170900000.0,12.72,23.03,23.67,NaN,2700.0,69.4,66.14,55.158,53.512,1960-10-07
North Korea,PRK,east_asia_pacific,asia,low_income,False,False,NaN,2018,120540.0,24650000.0,18.28,22.02,21.25,NaN,2094.0,19.7,71.13,75.512,68.450,1991-09-17
Poland,POL,europe_central_asia,europe,high_income,True,True,2004-05-01,2018,312680.0,38330000.0,14.43,26.67,25.92,7.675,3451.0,4.5,78.19,81.732,74.043,1945-10-24
Portugal,PRT,europe_central_asia,europe,high_income,True,True,1986-01-01,2018,92225.0,10700000.0,13.89,26.68,26.18,5.078,3477.0,3.0,81.30,84.372,78.685,1955-12-14
Romania,ROU,europe_central_asia,europe,upper_middle_income,True,False,2007-01-01,2018,238390.0,21340000.0,16.15,25.41,25.22,8.808,3358.0,9.7,75.53,79.158,72.265,1955-12-14
Russia,RUS,europe_central_asia,europe,high_income,False,False,NaN,2018,17098250.0,142600000.0,16.23,26.01,27.21,14.380,3361.0,8.2,71.07,76.882,65.771,1945-10-24
Saint Lucia,LCA,america,americas,upper_middle_income,False,False,NaN,2018,620.0,179500.0,12.05,24.65,27.22,15.900,2595.0,12.7,76.57,78.613,73.242,1979-09-18
Serbia,SRB,europe_central_asia,europe,upper_middle_income,False,False,NaN,2018,88360.0,9835000.0,12.21,26.51,25.67,5.985,2728.0,5.9,76.17,78.300,72.651,2000-11-01
Seychelles,SYC,sub_saharan_africa,africa,upper_middle_income,False,False,NaN,2018,460.0,87420.0,12.11,25.56,27.97,11.700,NaN,11.7,74.23,78.730,69.693,1976-09-21
Slovakia,SVK,europe_central_asia,europe,high_income,True,True,2004-05-01,2018,49035.0,5489000.0,13.31,26.93,26.32,6.746,2944.0,5.8,77.16,80.511,73.589,1993-01-19
Slovenia,SVN,europe_central_asia,europe,high_income,True,True,2004-05-01,2018,20270.0,2045000.0,14.94,27.44,26.58,5.315,3168.0,2.1,81.12,84.017,78.499,1992-05-22
South Korea,KOR,east_asia_pacific,asia,high_income,False,True,NaN,2018,100280.0,48770000.0,19.15,23.99,23.33,4.319,3334.0,2.9,81.35,85.467,79.456,1991-09-17
Uganda,UGA,sub_saharan_africa,africa,low_income,False,False,NaN,2018,241550.0,36760000.0,16.40,22.36,22.48,13.690,2130.0,37.7,62.86,62.667,58.252,1962-10-25
Ukraine,UKR,europe_central_asia,europe,lower_middle_income,False,False,NaN,2018,603550.0,44700000.0,17.47,25.42,26.23,8.771,3138.0,7.7,72.29,77.067,67.246,1945-10-24
United Kingdom,GBR,europe_central_asia,europe,high_income,True,True,1973-01-01,2018,243610.0,63180000.0,13.24,27.39,26.94,3.377,3424.0,3.5,81.19,83.558,80.127,1945-10-24

In [19]:
countrcountries.query("alcohol_adults > 12 & car_deaths_per_100000_people > 8.0")
# najs

,iso,world_6region,world_4region,income_groups,is_eu,is_oecd,eu_accession,year,area,population,alcohol_adults,bmi_men,bmi_women,car_deaths_per_100000_people,calories_per_day,infant_mortality,life_expectancy,life_expectancy_female,life_expectancy_male,un_accession
name,,,,,,,,,,,,,,,,,,,,
Belarus,BLR,europe_central_asia,europe,upper_middle_income,False,False,NaN,2018,207600.0,9498000.0,18.85,26.16,26.64,8.454,3250.0,3.4,73.76,78.583,67.693,1945-10-24
Latvia,LVA,europe_central_asia,europe,high_income,True,True,2004-05-01,2018,64490.0,2226000.0,13.45,26.46,25.62,8.275,3174.0,6.9,75.13,79.498,69.882,1991-09-17
Lithuania,LTU,europe_central_asia,europe,high_income,True,True,2004-05-01,2018,65286.0,3278000.0,16.30,26.86,26.01,8.090,3417.0,3.3,75.31,80.060,69.554,1991-09-17
Romania,ROU,europe_central_asia,europe,upper_middle_income,True,False,2007-01-01,2018,238390.0,21340000.0,16.15,25.41,25.22,8.808,3358.0,9.7,75.53,79.158,72.265,1955-12-14
Russia,RUS,europe_central_asia,europe,high_income,False,False,NaN,2018,17098250.0,142600000.0,16.23,26.01,27.21,14.380,3361.0,8.2,71.07,76.882,65.771,1945-10-24
Saint Lucia,LCA,america,americas,upper_middle_income,False,False,NaN,2018,620.0,179500.0,12.05,24.65,27.22,15.900,2595.0,12.7,76.57,78.613,73.242,1979-09-18
Seychelles,SYC,sub_saharan_africa,africa,upper_middle_income,False,False,NaN,2018,460.0,87420.0,12.11,25.56,27.97,11.700,NaN,11.7,74.23,78.730,69.693,1976-09-21
Uganda,UGA,sub_saharan_africa,africa,low_income,False,False,NaN,2018,241550.0,36760000.0,16.40,22.36,22.48,13.690,2130.0,37.7,62.86,62.667,58.252,1962-10-25
Ukraine,UKR,europe_central_asia,europe,lower_middle_income,False,False,NaN,2018,603550.0,44700000.0,17.47,25.42,26.23,8.771,3138.0,7.7,72.29,77.067,67.246,1945-10-24

In [20]:
# 10 zemí s nejmenším počtem obyvatel
countries["population"].sort_values().head(10)

name
Tuvalu                    9888.0
Nauru                    10440.0
Palau                    20920.0
San Marino               32160.0
Monaco                   35460.0
Liechtenstein            36870.0
Saint Kitts and Nevis    54340.0
Marshall Islands         56690.0
Dominica                 67700.0
Seychelles               87420.0
Name: population, dtype: float64

In [21]:
# Největších 10 zemí podle rozlohy
countries["area"].sort_values(ascending=False).head(10)
# výchozí ascending=True - šel by od nejmenší

name
Russia           17098250.0
Canada            9984670.0
United States     9831510.0
China             9562911.0
Brazil            8515770.0
Australia         7741220.0
India             3287259.0
Argentina         2780400.0
Kazakhstan        2724902.0
Algeria           2381740.0
Name: area, dtype: float64

In [22]:
# 10 zemí s největší spotřebou alkoholu na jednoho obyvatele
countries.sort_values("alcohol_adults", ascending=False).head(10)

,iso,world_6region,world_4region,income_groups,is_eu,is_oecd,eu_accession,year,area,population,alcohol_adults,bmi_men,bmi_women,car_deaths_per_100000_people,calories_per_day,infant_mortality,life_expectancy,life_expectancy_female,life_expectancy_male,un_accession
name,,,,,,,,,,,,,,,,,,,,
Moldova,MDA,europe_central_asia,europe,lower_middle_income,False,False,NaN,2018,33850.0,3496000.0,23.01,24.24,27.06,5.529,2714.0,13.6,72.41,76.090,67.544,1992-03-02
South Korea,KOR,east_asia_pacific,asia,high_income,False,True,NaN,2018,100280.0,48770000.0,19.15,23.99,23.33,4.319,3334.0,2.9,81.35,85.467,79.456,1991-09-17
Belarus,BLR,europe_central_asia,europe,upper_middle_income,False,False,NaN,2018,207600.0,9498000.0,18.85,26.16,26.64,8.454,3250.0,3.4,73.76,78.583,67.693,1945-10-24
North Korea,PRK,east_asia_pacific,asia,low_income,False,False,NaN,2018,120540.0,24650000.0,18.28,22.02,21.25,NaN,2094.0,19.7,71.13,75.512,68.450,1991-09-17
Ukraine,UKR,europe_central_asia,europe,lower_middle_income,False,False,NaN,2018,603550.0,44700000.0,17.47,25.42,26.23,8.771,3138.0,7.7,72.29,77.067,67.246,1945-10-24
Estonia,EST,europe_central_asia,europe,high_income,True,True,2004-05-01,2018,45230.0,1339000.0,17.24,26.26,25.19,5.896,3253.0,2.3,77.66,82.111,73.201,1991-09-17
Czechia,CZE,europe_central_asia,europe,high_income,True,True,2004-05-01,2018,78870.0,10590000.0,16.47,27.91,26.51,5.720,3256.0,2.8,79.37,81.858,76.148,1993-01-19
Uganda,UGA,sub_saharan_africa,africa,low_income,False,False,NaN,2018,241550.0,36760000.0,16.40,22.36,22.48,13.690,2130.0,37.7,62.86,62.667,58.252,1962-10-25
Lithuania,LTU,europe_central_asia,europe,high_income,True,True,2004-05-01,2018,65286.0,3278000.0,16.30,26.86,26.01,8.090,3417.0,3.3,75.31,80.060,69.554,1991-09-17
Russia,RUS,europe_central_asia,europe,high_income,False,False,NaN,2018,17098250.0,142600000.0,16.23,26.01,27.21,14.380,3361.0,8.2,71.07,76.882,65.771,1945-10-24

In [23]:
(
    # Uvažuj jenom EU
    countries[countries["is_eu"]]
    
    # Seřaď nejdřív podle data vstupu do EU, pak podle vstupu do OSN
    .sort_values(["eu_accession", "un_accession"])

    # Zobraz si jen ty dva sloupce
    [["eu_accession", "un_accession"]]
)

               eu_accession un_accession
name
France           1952-07-23   1945-10-24
Luxembourg       1952-07-23   1945-10-24
Netherlands      1952-07-23   1945-12-10
Belgium          1952-07-23   1945-12-27
Italy            1952-07-23   1955-12-14
Germany          1952-07-23   1973-09-18
Denmark          1973-01-01   1945-10-24
United Kingdom   1973-01-01   1945-10-24
Ireland          1973-01-01   1955-12-14
Greece           1981-01-01   1945-10-25
Portugal         1986-01-01   1955-12-14
Spain            1986-01-01   1955-12-14
Sweden           1995-01-01   1946-11-19
Austria          1995-01-01   1955-12-14
Finland          1995-01-01   1955-12-14
Poland           2004-05-01   1945-10-24
Hungary          2004-05-01   1955-12-14
Cyprus           2004-05-01   1960-09-20
Malta            2004-05-01   1964-12-01
Estonia          2004-05-01   1991-09-17
Latvia           2004-05-01   1991-09-17
Lithuania        2004-05-01   1991-09-17
Slovenia         2004-05-01   1992-05-22
Czechia          2004-05-01   1993-01-19
Slovakia         2004-05-01   1993-01-19
Bulgaria         2007-01-01   1955-12-14
Romania          2007-01-01   1955-12-14
Croatia          2013-01-01   1992-05-22

In [26]:
countries.query("bmi_men > 25 & bmi_women > 25")

,iso,world_6region,world_4region,income_groups,is_eu,is_oecd,eu_accession,year,area,population,alcohol_adults,bmi_men,bmi_women,car_deaths_per_100000_people,calories_per_day,infant_mortality,life_expectancy,life_expectancy_female,life_expectancy_male,un_accession
name,,,,,,,,,,,,,,,,,,,,
Albania,ALB,europe_central_asia,europe,upper_middle_income,False,False,NaN,2018,28750.0,3238000.0,7.29,26.45,25.66,5.978,3193.0,12.5,78.01,80.737,76.693,1955-12-14
Andorra,AND,europe_central_asia,europe,high_income,False,False,NaN,2017,470.0,88910.0,10.17,27.63,26.43,NaN,NaN,2.1,82.55,NaN,NaN,1993-07-28
Antigua and Barbuda,ATG,america,americas,high_income,False,False,NaN,2018,440.0,91400.0,8.17,25.77,27.51,NaN,2417.0,5.8,77.60,79.028,74.154,1981-11-11
Argentina,ARG,america,americas,upper_middle_income,False,False,NaN,2018,2780400.0,41470000.0,9.35,27.50,27.47,8.682,3229.0,11.1,76.97,80.572,73.151,1945-10-24
Armenia,ARM,europe_central_asia,europe,lower_middle_income,False,False,NaN,2018,29740.0,3118000.0,13.66,25.36,27.13,7.899,2928.0,12.6,75.97,77.952,71.589,1992-03-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
United States,USA,america,americas,high_income,False,True,NaN,2018,9831510.0,318500000.0,9.70,28.46,28.34,9.523,3682.0,5.6,79.14,81.942,77.429,1945-10-24
Uruguay,URY,america,americas,high_income,False,False,NaN,2018,176220.0,3403000.0,8.99,26.39,26.59,2.566,3050.0,8.7,77.57,81.126,74.217,1945-12-18
Uzbekistan,UZB,europe_central_asia,asia,lower_middle_income,False,False,NaN,2018,447400.0,28400000.0,3.61,25.32,25.43,6.418,2760.0,33.9,70.50,74.362,68.721,1992-03-02
Vanuatu,VUT,east_asia_pacific,asia,lower_middle_income,False,False,NaN,2018,12190.0,257800.0,0.96,26.79,28.46,NaN,2836.0,23.1,64.30,74.869,70.393,1981-09-15
Venezuela,VEN,america,americas,upper_middle_income,False,False,NaN,2018,912050.0,30340000.0,7.60,27.45,28.13,7.332,2631.0,12.9,75.91,79.079,70.950,1945-11-15

In [27]:
countries["bmi_men"].sort_values(ascending=False).head(15)

name
Nauru                             33.90
Tonga                             31.00
Samoa                             30.42
Palau                             30.38
Marshall Islands                  29.37
Kiribati                          29.24
Kuwait                            29.17
United States                     28.46
Saint Kitts and Nevis             28.23
Qatar                             28.13
Federated States of Micronesia    28.10
United Arab Emirates              28.05
Czechia                           27.91
Saudi Arabia                      27.88
Bahrain                           27.84
Name: bmi_men, dtype: float64

In [28]:
countries["bmi_women"].sort_values(ascending=False).head(15)

name
Nauru                             35.02
Tonga                             34.26
Samoa                             33.66
Palau                             31.85
Marshall Islands                  31.39
Kiribati                          31.31
Federated States of Micronesia    31.28
Kuwait                            31.16
Saint Kitts and Nevis             30.51
Egypt                             30.10
Belize                            29.82
United Arab Emirates              29.61
Saudi Arabia                      29.60
South Africa                      29.48
Fiji                              29.34
Name: bmi_women, dtype: float64